logo_color = #006e80
average_rating_color = indianred

body
  font-family 'Open Sans', Arial, sans-serif
  background-color #fafafa

input
  padding 5px 8px
  border 1px solid #DDD
  border-radius 3px

  &:focus
    border-color #31bbd2

.page-header
  margin-top 0

.logo
  display inline-block
  color logo_color
  font-size 30px
  font-weight bold
  border-bottom 4px double
  vertical-align super

.home
  display flex
  flex-direction column
  align-items center
  justify-content center
  position absolute
  left 0
  right 0
  bottom 0
  top 0

  @media screen and (min-height: 650px)
    margin-top -270px

.home-footer
  width 100%
  text-align center
  padding 5px 0
  margin-top 10px

  @media screen and (min-height: 370px)
    margin-top 70px

.home-main
  display flex
  flex-direction column
  align-items center

  .logo
    font-size 34px

  .search-form
    margin-top 10px
    margin-left 0

    @media screen and (min-height: 370px)
      margin-top 30px

  .search-form-query
    @media screen and (max-width: 420px)
      width 150px

poster_height = 420px
.poster
  display inline-block
  width 300px
  height poster_height

.empty-poster
  background #1e2b2c
  display inline-flex
  justify-content center
  align-items center

  &::after
    content 'Poster N/A'
    font-size 35px
    color #fafafa

.search-form
  *
    margin 2px 3px
    vertical-align bottom

  display inline-block

  @media screen and (min-width: 650px)
    margin-left 50px

.search-form-query
  width 250px

.search-form-year
  width 50px

.search-result
  position relative
  display inline-block
  width 300px
  height 450px
  margin 2px

  &:hover
    text-decoration none

search_title_height = 30px 
.search-result-title
  background #133547
  color white  
  height search_title_height
  padding 5px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

label_padding = 0px 3px 1px
.search-result-type, .search-result-year
  display inline-block
  color white
  position absolute
  bottom search_title_height
  padding label_padding

.search-result-type
  background #007bc9
  left 0

.search-result-year
  background #ab0079
  right 0

.title
  .infobar
    margin-bottom 20px

    span
      padding 0 5px
      border-left 1px solid #eee

      &:first-of-type
        border-left none

  .all-ratings
     display inline-block

  .poster, .all-ratings
    vertical-align top
    margin-bottom 10px

.all-ratings
  background #f4f4f4
  font-size 125%
  color logo_color
  padding 0 20px
  height poster_height

  @media screen and (min-width: 650px)
    margin-left 20px

  @media screen and (min-width: 768px)
    margin-left 15px

  @media screen and (min-width: 1200px)
    margin-left 40px

.rating
  padding 10px 5px

.rating-description
  font-size 70%
  color #6395ad

average_rating_circle_width = 65px
rating_circle_width = average_rating_circle_width - 15
.average-rating
  font-size 160%

  .rating-circle
    color average_rating_color
    border 3px solid
    width average_rating_circle_width
    height average_rating_circle_width

.rating-source
  display inline-block
  width 160px

  @media screen and (min-width: 350px)
    width 180px

.rating-number
  display inline-block
  width 70px
  vertical-align middle

.rating-circle
  font-weight bold
  color white
  width rating_circle_width
  height rating_circle_width
  border-radius 100px
  display flex
  flex-direction column
  justify-content center
  text-align center
  margin 0 auto

.rating-IMDB
  .rating-circle
    background #E7C02C

.rating-Tomatometer, .rating-Audience
  .rating-circle
    background #EC1E24

.rating-Metascore
  .rating-circle
    background #66CC33